___
# Ciência dos Dados - PROJETO 1

## André Neustein
___

## TÍTULO DO SEU PROJETO

___
## Introdução

Descreva aqui o que pretende analisar!

Capriche no português!! 
Se quiser pode utilizar pesquisas semelhantes publicadas em sites confiáveis!!

___
## Filtros da base de dados

In [24]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [28]:
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
C:\Users\Elcio\Desktop\FACULDADE\3° SEMESTRE\DP CIENCIA DOS DADOS\PROJETO 1

In [29]:
#Se usar o arquivo descompactado
#pd.read_csv('PES2015.csv',sep=',')

#Se usar o arquivo compactado como está no dropbox púbico
dados15 = pd.read_csv('PES2015csv.zip', compression='zip', header=0, sep=',', quotechar='"')
dados11 = pd.read_csv('PES2011csv.zip', compression='zip', header=0, sep=',', quotechar='"')

In [30]:
#selecionando as colunas
dadosPI = dados15[dados15.UF == 31].loc[:,{"V0401","V0601","V6007","V4750"}]
#filtrando os dados
dadosPI = dadosPI[pd.notnull(dadosPI.V0401)]
dadosPI = dadosPI[pd.notnull(dadosPI.V0601)]
dadosPI = dadosPI[pd.notnull(dadosPI.V6007)]
dadosPI = dadosPI[dadosPI.V4750!=999999999999]
#transformando as respostas numéricas em respostas
dadosPI.V0401=dadosPI.V0401.astype('category')
dadosPI.V0401.cat.categories = (['Pessoa de referência','Cônjuge','Filho','Outro parente','Agregado','Pensionista','Empregado doméstico'])
dadosPI.V6007=dadosPI.V6007.astype('category')
dadosPI.V6007.cat.categories = (['Elementar (primário)','Médio 1º ciclo (ginasial, etc.)','Médio 2º ciclo (científico, clássico, etc.)','Regular do ensino fundamental ou do 1º grau','Regular do ensino médio ou do 2º grau','Educação de jovens e adultos ou supletivo do ensino fundamental ou do 1º grau','Educação de jovens e adultos ou supletivo de ensino médio ou do 2º grau','Superior de graduação','Mestrado ou doutorado','Alfabetização de jovens e adultos','Creche','Classe de alfabetização - CA ','Maternal, jardim de infância etc.'])
dadosPI.V0601=dadosPI.V0601.astype('category')
dadosPI.V0601.cat.categories = (['Sim','Não'])
dadosPI.head()

,V0601,V0401,V6007,V4750
159852,Sim,Pessoa de referência,Regular do ensino médio ou do 2º grau,1900.0
159854,Sim,Pessoa de referência,Regular do ensino médio ou do 2º grau,450.0
159855,Sim,Cônjuge,Regular do ensino médio ou do 2º grau,450.0
159860,Sim,Pessoa de referência,Elementar (primário),890.0
159861,Sim,Cônjuge,Regular do ensino médio ou do 2º grau,890.0

In [31]:
dadosPI.V4750.describe()

count    21971.000000
mean      1254.469255
std       1824.954353
min          0.000000
25%        494.000000
50%        788.000000
75%       1301.000000
max      54424.000000
Name: V4750, dtype: float64

In [34]:
#transformar renda em faixas
dadosPI.loc[dadosPI.V4750 <= 81, "classe social"] = "Ext baixa"
dadosPI.loc[(dadosPI.V4750 > 81) & (dadosPI.V4750 <= 291), "classe social"] = "Baixa"
dadosPI.loc[(dadosPI.V4750 > 291) & (dadosPI.V4750 <= 441), "classe social"] = "Med Baixa"
dadosPI.loc[(dadosPI.V4750 > 441) & (dadosPI.V4750 <= 641), "classe social"] = "Média"
dadosPI.loc[(dadosPI.V4750 > 641) & (dadosPI.V4750 <= 1019), "classe social"] = "Med Alta"
dadosPI.loc[dadosPI.V4750 > 1019, "classe social"] = "Alta"
dadosPI.head()

,V0601,V0401,V6007,V4750,classe social
159852,Sim,Pessoa de referência,Regular do ensino médio ou do 2º grau,1900.0,Alta
159854,Sim,Pessoa de referência,Regular do ensino médio ou do 2º grau,450.0,Média
159855,Sim,Cônjuge,Regular do ensino médio ou do 2º grau,450.0,Média
159860,Sim,Pessoa de referência,Elementar (primário),890.0,Med Alta
159861,Sim,Cônjuge,Regular do ensino médio ou do 2º grau,890.0,Med Alta

In [35]:
dadosPI["classe social"].value_counts()

Alta         7926
Med Alta     5923
Média        3338
Med Baixa    2432
Baixa        1932
Ext baixa     420
Name: classe social, dtype: int64

In [37]:
#mudando o nome das colunas
dadosPI = dadosPI.rename (columns = {"V0401":"Pessoa de referência"})
dadosPI = dadosPI.rename (columns = {"V0601":"Sabe ler e escrever"})
dadosPI = dadosPI.rename (columns = {"V6007":"Curso mais eelevado que frequentou"})
dadosPI = dadosPI.rename (columns = {"V4750":"Rendimento familiar per capta"})
dadosPI.head()

,Sabe ler e escrever,Pessoa de referência,Curso mais eelevado que frequentou,Rendimento familiar per capta,classe social
159852,Sim,Pessoa de referência,Regular do ensino médio ou do 2º grau,1900.0,Alta
159854,Sim,Pessoa de referência,Regular do ensino médio ou do 2º grau,450.0,Média
159855,Sim,Cônjuge,Regular do ensino médio ou do 2º grau,450.0,Média
159860,Sim,Pessoa de referência,Elementar (primário),890.0,Med Alta
159861,Sim,Cônjuge,Regular do ensino médio ou do 2º grau,890.0,Med Alta

,Sabe ler e escrever,Pessoa de referência,Curso mais eelevado que frequentou,Rendimento familiar per capta
159852,Sim,Pessoa de referência,Regular do ensino médio ou do 2º grau,1900.0
159854,Sim,Pessoa de referência,Regular do ensino médio ou do 2º grau,450.0
159855,Sim,Cônjuge,Regular do ensino médio ou do 2º grau,450.0
159860,Sim,Pessoa de referência,Elementar (primário),890.0
159861,Sim,Cônjuge,Regular do ensino médio ou do 2º grau,890.0

___
## Análise e Resultados

___
## Conclusão

Descreva aqui suas conclusões!